<a href="https://colab.research.google.com/github/vamel19/melissa_INFO5731_Spring2020/blob/master/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [6]:
counter = 0
for g in "program": # traverse the string "program"
    counter+=1 #increment the counter
print (counter) # outputs the length (7) of the string "program"

7

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [11]:
str1 = "google.com"
countDict = dict()
for char in str1:
  count = str1.count(char)
  countDict[char]=count
print(countDict)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}



```
# This is formatted as code
```

(3) Write a Python program to sum all the items in a list. (2 points)

In [20]:
def sum_list(items):
  sum_numbers = 0
  for x in items:
      sum_numbers += x
  return sum_numbers
print(sum_list([1,4,-9]))

-4

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [21]:
def change_char(str1):
  char = str1[0]
  length = len(str1)
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [22]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [27]:
#create a tuple
tuplex = ("w", 3, 6, 9, "u", "o", "s", "e", "r", "r", "c", "o")
print(tuplex)
("w", 3, 6, 9, "u", "o", "s", "e", "r", "r", "c", "o")
#use in statement
print("r" in tuplex)
print(5 in tuplex)

('w', 3, 6, 9, 'u', 'o', 's', 'e', 'r', 'r', 'c', 'o')
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [29]:
#Create a set
seta = set([4, 19, 83, 5, 18, 53, 100])
#Find maximum value
print(max(seta))
#Find minimum value
print(min(seta))

100
4

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [52]:
import random
members = 5
participants=["vmb0067","pc0353","snd0097","yye0005","sg0940","bk0301","rak0120","rrk0058","spk0057","vl0135","nm0547","pn0159", "msp0174","dd0420","ds0761","rs0850","ss1995","at0739","at0768","mv0299","tv0119","dy0091"]
random.shuffle(participants)
for i in range (len(participants) // members + 1):
  print('Group {} consists of:'. format(i + 1))
  group = participants[i*members:i*members + members]
  for participant in group:
    print(participant)

Group 1 consists of:
snd0097
at0768
yye0005
dd0420
msp0174
Group 2 consists of:
pc0353
rrk0058
dy0091
rak0120
sg0940
Group 3 consists of:
tv0119
ds0761
bk0301
vmb0067
ss1995
Group 4 consists of:
nm0547
vl0135
rs0850
at0739
mv0299
Group 5 consists of:
spk0057
pn0159